{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <hr>
                <h2>Add Review</h2>
                <hr>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row overlay-white p-2">
            <div class="col">
                <form method="POST"  enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div>
                        <a class="btn btn-black rounded-3" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-black rounded-3" type="submit">Add review</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}