{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Delivery Policy{% endblock %}

{% block content %}



<div class="row">
    <div class="col-10 offset-1">
        <h2 style="text-align: center;"><b>Delivery Policy</b></h2>
        <span data-custom-class="subtitle">
            Last updated
            <bdt class="question">February 22, 2023</bdt>
        </span>
        <strong>This website has been created for educational purposes, no orders will be fulfilled. </strong>
        <h4 class="pt-4 pb-2">Delivery Prices</h4>
        <p>We offer a flat rate delivery price of 5.99:-</p>
        <p>Free Delivery is offered for all orders over 50:-</p>

        <h4 class="pt-4 pb-2">Delivery Times</h4>
        <p>All orders are processed within 1 to 3 business days (excluding weekends and holidays) after receiving your
            order confirmation email. You will receive another notification when your order has posted.</p>
        <p>Delivery times are estimates and commence from the date of postage, rather than the date of order. Delivery
            times are to be used as a guide only and are subject to the acceptance and approval of your order.</p>

        <h4 class="pt-4 pb-2">How do I check the status of my order?</h4>
        <p>When your order has been received, you will receive an email notification from us which will include a
            tracking number you can use to check its status. Please allow 48 hours for the tracking information to
            become available.</p>
        <p>If you haven't received your order within 7 days of receiving your confirmation of postage email, please <a
                id="mailto" href="mailto:organiccat@example.com" target="_newtab"><strong>Contact Us</strong></a> with
            your name and order number, and we will look into it for you.</p>
        <p>You can also keep track of your delivery in your account profile.</p>

        <h4 class="pt-4 pb-2">Refunds, returns and exchanges</h4>
        <p>We accept returns or exchanges. If the product has been unused up too 30 days.</p>
        <p>In the event that your order arrives damaged in any way, please <a id="mailto"
                href="mailto:organiccat@example.com" target="_newtab"><strong>Contact Us</strong></a> As soon as
            possible with your order number and a photo of the item's condition. We address these on a case-by-case
            basis but will try our best to work towards a satisfactory solution.</p>
        <p>Refunds do not include any postage and handling charges shown on the packaging slip or invoice. Delivery
            charges for all returns must be prepaid and insured by you. You are responsible for any loss or damage to
            hardware during postage. We do not guarantee that we will receive your returned item. Postage and handling
            charges are not refundable. Any amounts refunded will not include the cost of Postage.</p>

        <p>Organic Cat has been created by <a href="https://github.com/jaredslocker21" target="_blank"
                class="text-muted">Jared Middle Calf</a> as an educational project. Completing the Level 5 Diploma in
            Web Application Development.</p>
        <hr>
        {% include 'includes/footer.html' %}
    </div>

</div>

{% endblock %}