* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

/* Nav Bar Links*/
a {
    box-shadow: inset 0 0 0 0 #6d589f;
    color: #000000;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

li>a:hover {
    color: #fff !important;
    box-shadow: inset 200px 0 0 0 #6d589f;
}

/* Header */
header {
    position: sticky;
    top: 0;
    z-index: 999;
}


/* support class for contact/support */
.support {
    color: #6d589f;
    font-weight: 600;
    font-family: sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
    margin: 15px;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #6d589f;
    color: white;
    bottom: auto;
    border-radius: 15px;
}



.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-main:hover,
.btn-main:active,
.btn-main:focus {
    background: #400584;
    color: white;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* main text color*/
.text-color {
    color: #000000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.banner-style {
    color: white;
}

.bg-banner {
    background: #6d589f !important;
}

/*** ------------------------------Buttons**/
.primaryAction {
    background: #6d589f !important;
    color: white;
}

.btn-main {
    background: #6d589f;
    color: white;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.btn-group-lg>.btn,
.btn-lg:hover {
    color: #fff !important;
    box-shadow: inset 200px 0 0 0 #6d589f;
}

/*--------------------Search bar menu--*/
input[name='q']::placeholder {
    color: #aab7c4;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

a.category-badge>span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* Allauth form formatting */


.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #b92525;

}

/* Product Form */

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Carousel Items*/
.carousel {
    position: relative;
    height: 100%;
}

.text-color-caption {
    color: #ffffff
}


.carousel-caption {
    bottom: 180px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0px !important;
}


.carousel-control-prev,
.carousel-control-next {
    cursor: pointer;
    position: absolute;
    top: 15%;
    width: auto;
    margin-top: -15px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

h5 {
    display: inline-block;
    color: white;
    border-radius: 10px;
}

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

@media (max-width: 350px) {
    .carousel-caption {
        position: unset;
        height: 80vh;
    }

}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 10px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-color {
        font-size: 2rem;
    }

    .nav-link {
        padding: .015rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h6 {
        font-size: .9rem;
    }

}

/* Mail Chimp */
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
#mc_embed_signup {
    background: #ffffff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 300px;
}

.mc-button {
    background: #6d589f !important;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
}

.card-header {
    border: none;
    background: white;

}

.card {
    border: none;
}

/* reviews */
.reviews>p {
    color: #000407;
    margin-bottom: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
}

.reviews-header {
    margin-left: 25px;
}