html {
    height: 100%;
}

body {
    background: url('../media/homepage_image.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}