<div class="collapse navbar-collapse top-fixed" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="index.html" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Home
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'home' %}" class="dropdown-item">Home</a>
                <a href="" class="dropdown-item">Return Policy</a>
                <a href="" class="dropdown-item">Delivery</a>
                <a href="" class="dropdown-item">Privacy and Protections¨</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Food
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="Food-link">
                <a href="{% url 'products' %}?category=dry_food" class="dropdown-item">Dry Food</a>
                <a href="{% url 'products' %}?category=wet_food" class="dropdown-item">Wet Food</a>
                <a href="{% url 'products' %}?category=snacks" class="dropdown-item">Snacks</a>
                <a href="{% url 'products' %}?category=dry_food,wet_food,snacks" class="dropdown-item">All Food</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="Accesssories-link">
                <a href="{% url 'products' %}?category=collars" class="dropdown-item">Collars</a>
                <a href="{% url 'products' %}?category=vests" class="dropdown-item">Vests</a>
                <a href="{% url 'products' %}?category=scheek" class="dropdown-item">Scheeeek!</a>
                <a href="{% url 'products' %}?category=Brushes" class="dropdown-item">Brushes</a>
                <a href="{% url 'products' %}?category=trees" class="dropdown-item">Trees</a>
                <a href="{% url 'products' %}?category=bowls" class="dropdown-item">Bowl's</a>
                <a href="{% url 'products' %}?category=jute_toys,stuffed_animals,bowls" class="dropdown-item">All Toys</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Toys
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="Accesssories-link">
                <a href="{% url 'products' %}?category=jute_toys" class="dropdown-item">Jute Toys</a>
                <a href="{% url 'products' %}?category=stuffed_animals" class="dropdown-item">Stuffed Animal's</a>
                <a href="{% url 'products' %}?category=balls" class="dropdown-item">Balls</a>
                <a href="{% url 'products' %}?category=jute_toys,stuffed_animals,balls" class="dropdown-item">All Toys</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
        
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Memberships 
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Soon to come.</a>
                <a href="" class="dropdown-item">Cat Health Blog</a>
                <a href="" class="dropdown-item">FAQS Q and A</a>
                <a href="" class="dropdown-item">All Cats are Special Demons</a>
            </div>
        </li>
    </ul>
</div>