{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Success!{% endblock %}
{% block content %}
<div class="row">
    <div class="col-10 offset-1 text-center">
        <div class="page-title">
        </div>
        <h4>Your inquiry was sent. Thank You!</h4>
        <p>We plan to reply to messages within 7 business days.</p>

        <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="btn btn-outline-blue my-2">
            <span class="icon mr-2">
                <i class="fa-solid fa-shop"></i>
            </span>
        </a>

    </div>
</div>
{% endblock %}