{% extends "base.html" %}
    {% load static %}
    
    {% block extra_title %} - Contact Us{% endblock %}

    {% block extra_meta %}
        <meta name="description" content="">
        <meta name="keywords" content="">
    
        <!-- Social media - Facebook, LinkedIn, Google -->
        <meta property="og:type" content="article">
        <meta property="og:title" content="">
        <meta property="og:description" content="">
        <meta name="image" property="og:image" content="URL TO IMAGE"><!-- URL of image to be displayed when your site is linked to -->
        <meta property="og:image:alt" content="">
        <meta property="og:url" content="https://organiccat.herokuapp.com/">
        <meta property="og:site_name" content="- Contact Us">
    {% endblock %}

    {% block content %}
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <div class="page-title">
                    <h3>Contact Us</h3>
                </div>
        
                <p class="text-muted text-center">Please fill out the contact form below to get in touch with us.</p>
                
                <form action="{% url 'contact' %}" method="POST" id="contact-form" class="pt-5">
                    {% csrf_token %}
                    {{ form|crispy }}


                    <!-- SUBMIT & BACK BUTTONS -->
                    <div class="submit-button text-right mt-5 mb-3">
                        <a href="{% url 'products' %}" class="btn rounded-0 btn-lg">
                            <span class="mr-2"><i class="fa-solid fa-chevron-left"></i></span>
                            <span>Back to Shop</span>
                        </a>
                        <button class="btn btn-main my-2" id="submit-button">
                            <span class="mr-2"><i class="fa-regular fa-paper-plane"></i></span>
                            <span>Send Contact Form</span>
                        </button>
                    </div>
                </form>

            </div>
        </div>
    {% endblock %}