<hr>
<div class="text-center mb-2">
    <h2>Reviews</h2>
    <div>
        {% if user.is_authenticated %}
            <a href="{% url 'add_review' product.id %}"><button type="button" class="btn btn-black rounded-3">Add review</button></a>
        {% else %}
            <p>login in to add a review</p>
            <div>
                <a class="btn btn-black rounded-3" href="{% url 'account_login' %}">Login</a>
            </div>
        {%endif%}
    </div>
</div>
<hr>
<div class="row">
    {% for review in reviews %}
        {% if review.product.id == product.id %}
            <div class="col-12">
                <div class="card mb-7 w-100">
                    <div class="card-header">
                        <h1>{{review.title|striptags}}</h1>
                    </div>
                    <p>{{review.body|striptags}}</p>
                    <div class="hr"></div>
                    <p>reviewd by:{{review.posted_by|striptags}}</p>
                    {% if user == review.posted_by %}
                        <div class="container">
                            <span><a href="{% url 'edit_review' review.id %}"><button type="button" class="btn btn-black rounded-3 col w-25">Edit Review</button></a></span>
                            <span><a href="{% url 'delete_review' review.id %}"><button type="button" class="btn btn-danger rounded-3 col w-25">Delete</button></a></span>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
</div>
</div>
