<hr>
<div class="text-center mb-2">
    <h2>Reviews</h2>
    <div>
        {% if user.is_authenticated %}
        <a href="{% url 'add_review' product.id %}"><button type="button" class="btn btn-main rounded-3">Add
                review</button></a>
        {% else %}
        <p>login in to add a review</p>
        <div>
            <a class="btn btn-main rounded-3" href="{% url 'account_login' %}">Login</a>
        </div>
        {%endif%}
    </div>
</div>

<div class="row">
    {% for review in reviews %}
    {% if review.product.id == product.id %}
    <div class="col-md-8 card mb-4  mt-3">
        <div class="reviews-header">
            <div class="reviews">
                <p>Name: {{review.name}}</p>
                <p>Review: {{review.body}}</p>
                <small class="text-muted">{{ review.created_on }}</small>
                <p>-----------------------</p>
            </div>
            {% if user == review.posted_by %}
            <small class="ml-3">
                <a href="{% url 'edit_review' review.id %}">Edit | </button></a>
                <a href="{% url 'delete_review' review.id %}">Delete</button></a>
            </small>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>